.header {
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4.35rem .5rem;
  }

  &__logo {
    font-family: $font-main;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__nav {
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    height: 100%;

    @media only screen and (max-width: $breakpoint-large) {
      display: none;
    }

    &--mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__nav-list--mobile &__nav-item {
    border: 1px solid $color-white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: 200px;
  }

  &__nav-list--mobile &__nav-item &__nav-link {
    color: $color-white;
  }

  &__nav-item {
    &:hover &__nav-link {
      color: $color-main-red;
    }

    &--dropdown {
      display: flex;
      gap: 8.25px;
      align-items: center;
    }
  }

  &__nav-list--mobile &__nav-item:hover &__nav-link {
    color: $color-main-red;
  }

  &__nav-list--mobile &__nav-item:hover {
    border: 1px solid $color-main-red;
  }

  &__nav-link {
    font-family: $font-main;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-black;

    &--active {
      color: $color-main-red;
    }
  }

  &__drop-icon {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    transform: rotate(45deg) translateY(-30%);
    border-right: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
  }


  &__nav-link--active + &__drop-icon {
    border-right: 1px solid $color-main-red;
    border-bottom: 1px solid $color-main-red;
  }

  &__nav-list--mobile > &__nav-item--dropdown > &__drop-icon {
    display: none;
  }

  &__right-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.2rem;

    @media only screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }

  &__btn {
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__btn:hover &__icon, &__btn:hover &__icon path {
    fill: $color-main-red;
    stroke: $color-main-red;
  }

  &__icon {
  }

  &__hamburger-menu {
    position: fixed;
    top: 3rem;
    right: 3rem;
    width: 3.5rem;
    cursor: pointer;

    background: none;
    appearance: none;
    outline: none;
    border: none;
    display: none;

    @media only screen and (max-width: $breakpoint-large) {
      display: block;
      z-index: 198;
    }
  }

  &__hamburger-menu &__hamburger-bar,
  &__hamburger-menu::before,
  &__hamburger-menu::after {
    z-index: 100;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $color-main-red;
    margin: 6px 0;
    transition: .4s;
  }

  &__hamburger-menu.active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  &__hamburger-menu.active &__hamburger-bar {
    opacity: 0;
  }

  &__hamburger-menu.active::after {
    transform: rotate(45deg) translate(-9px, -8px);
  }

  &__mobile-nav {
    display: none;
    width: 0;
    transition: width .5s ease-in;

    &.active {
      display: grid;
      place-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 98;
      background-color: $color-black-2;
      color: $color-white;
      padding-top: 12rem;
    }
  }
}
