.cards-white {
  margin-bottom: 5rem;

  &__inner {
    display: flex;
    justify-content: center;
    width: 100%;
    @media only screen and (max-width: $breakpoint-small) {
      flex-wrap: wrap;
    }
  }
  &__card {
    padding: 5rem 3rem;
    flex: 0 1 32.3rem;
    @media only screen and (max-width: $breakpoint-small) {
      padding: 3rem 2rem;
    }
  }

  &__card:not(:last-child) {
    border-right: 1px solid $color-grey;
    @media only screen and (max-width: $breakpoint-small) {
      border-right: none;
    }
  }

  &__icon {
    margin-bottom: 3rem;
  }
  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-main-red;
    margin-bottom: 2.5rem;
  }
  &__text {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-black;
  }
}